.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    background-color: white;
    position: relative;
    padding: 20px 0px; /* Juster padding efter behov */
    text-align: center;
    }


.grid-container > div {
    font-size: 30px;
    position: relative;
    text-align: center;
    
}

.box1 {
    grid-row: 1;
    grid-column: 1 /5;
}

.box1 h2,
.box2 h2 {

    font-weight: normal;
}


.box2 {
    grid-row: 2;
    grid-column: 1/5;
}



.foto {
   height: auto;
   width: auto; 
   padding-top: 8px;
}

.box2 .foto {
    padding-bottom: 80px;
}

.box3 {
    grid-row: 3;
    grid-column: 1/5;
}


button {
    width: 188px;
    height: 46px;
    background-color: #026817;
    color: white;
    cursor: pointer;
    align-items: left;
    border: none;
    font-size: 20px;
    margin-bottom: 90px;

}