#fornavn {
  margin-top: 50px;
}

input[type="text"],
input[type="email"] {
  width: 534px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 30px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: normal;
}

input[type="text"]::after,
input[type="email"]::after {
  content: "";
  display: block;
  border-bottom: 2px solid #4CAF50;
  transition: all 0.2s;
}

input[type="text"]:focus::after,
input[type="email"]:focus::after
{
  width: 100%;
}
#errorText {
  font-size: 20px;
}
button {
  width: 100px;
  height: 30px;
  background-color: #026817;
  color: white;
  cursor: pointer;
  justify-content: center;
  border: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 9%;
}

#text {
  width: 90%;
  height: 190px;
  resize: none;
  margin-top: 10px;
  margin-left: 2px;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    background-color: white;
    position: relative;
    padding: 20px 0px; /* Juster padding efter behov */
    }

  
.grid-container > div {
    text-align: left;
    font-size: 30px;
    position: relative;
}


.box1 {
    grid-row: 1;
    grid-column: 1 / 3;
    margin-left: 150px;
    overflow: auto; /* Tilføj overflow */
    margin-bottom: 60px;
    
}

.box1 p {
  font-size: 25px;
  margin-bottom: 0px;
}
.box2 {
    grid-row: 1;
    grid-column: 3/5;
    margin-left: 187px;
    padding-top: 40px;
}

.box2 h2 {
  margin-top: 30px;
  font-size: 30px;
  font-size: 25px;
}
.box2 p {
  margin-top: 30px;
  font-size: 25px;
  font-weight: normal;
  margin-top: 0;
  
}

#expert {
  height: 350px;
  width: 405px;
}

h3 {
  font-size: 25px;
  font-family: 'Segoe UI Semibold', sans-serif;
  margin-bottom: 0px;
}

h2 {
    font-size: 45px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
}

p {
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
}


@media (max-width: 1180px) {

  .box1 {
    margin-left: 20px;
  }

  input[type="text"],
  input[type="email"] {
    width: 400px;
    padding: 10px;
    font-size: 25px;
  }
  #text {
    width: 90%; 
  }

  .button-container {
    margin-right: 55px;
  }
  #expert {
    height: 300px;
    width: auto;
  }
}