main {
position: relative;
height: auto;
width: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 32%;
    z-index: 1; /* Sæt en lavere z-index end footer og header */
}

img.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
button {
    width: 188px;
    height: 46px;
    background-color: #026817;
    color: white;
    cursor: pointer;
    align-items: left;
    border: none;
    font-size: 20px;
    margin-bottom: 90px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    background-color: #D6E2E1;
    position: relative;
    z-index: 2;
    background-color: transparent; /* Gennemsigtig baggrund */
    }


.grid-container > div {
    text-align: left;
    font-size: 30px;
    position: relative;
}




.box2 {
    grid-row: 2;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column; /* Ændret til kolonne-layout */
    justify-content: center; /* Centrer indholdet vandret */
    align-items: center; /* Centrer indholdet lodret */
    text-align: center; /* Centrer teksten */
    padding-top: 40px;
  }
.box3 {
    grid-row: 3;
    grid-column: 2/2;
    width: 60%; 
    margin-right: 0; 
    margin-left: 20px; 
}
.box4 {
    grid-row: 3;
    grid-column: 3/3;
    width: 60%; 
    margin-right: 0; 
    margin-left: 110px; 
}

.box3,
.box4 {
    padding-top: 50px;
}
.box2 p,
.box3 p,
.box4 p {
    font-size: 25px;
    font-family: 'Segoe UI', sans-serif;
}
.h3 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.box1 h2,
.box2 h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.box3 p {
    padding-bottom: 100px;
}
.box4 p {
    padding-bottom: 134px;
}
@media (max-width: 1180px) {
 
.box2 {
    grid-row: 2;
    grid-column: 1 / 5;
    padding-left: 120px;
    padding-right: 120px;
}


.box4 {
    margin-left: 90px; 
}

.box3 {
    margin-left: 0px;
    width: 85%;
}

}