

header {
  height: 167px;
  background-color: #A3BF9A;
  display: flex;
  flex-direction: column; /* Ændring: Brug en kolonne-layout */
  align-items: center;
  position: relative;
  z-index: 2; /* Sæt en højere z-index end billederne */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  overflow-x: hidden;
  position: relative; /* Tilføj position: relative; */
  z-index: 1; /* Tilføj z-index: 1; */
}

h1 {
  font-size: 80px;
  font-family: 'Georgia';
  color: #026817;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
  font-size: 20px;
  font-family: 'Georgia';
  color: #026817;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.box {
  width: 100%;
  background-color: #A3BF9A;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #026817;
  height: 53px;
  position: absolute;
  bottom: 0;
}

.nav-menu {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  color: white;
  text-decoration: none;
}

#nav-farve a {
  color: #026817;
}

ul.nav-menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}



a{
  color: white;
  text-decoration: none;
}

a:hover {
color: #026817;
  }


  footer {
    height: 167px;
    background: white;
    position: relative;
    z-index: 2; 
    border-top: 2px solid #026817;
  }

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: white;
  align-items: flex-start;
  align-content: flex-start;
}

.footer-container > div {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  font-size: 30px;
  position: relative;
}

.item1 {
  grid-row: 1;
  grid-column: 1 / 1;
  padding-left: 110px;
}

.item2 {
  grid-row: 1;
  grid-column: 2 / 2;
  padding-left: 110px;
}

.item3 {
  grid-row: 1;
  grid-column: 3/3;
  justify-self: end;;
}
.item3 h2 {
  padding-bottom: 10px;
}

.item4 {
  grid-row: 1;
  grid-column: 4 / 4;
  padding-top: 63px;
  padding-left: 30px;

}

.item5 {
  grid-row: 1;
  grid-column: 5 / 5;
}
.item1 h2,
.item2 h2,
.item3 h2,
.item4 h2,
.item5 h2 {
  color: #026817;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: auto;
}

.item1 p,
.item2 p,
.item3 p,
.item4 p,
.item5 p {
  color: black;
  font-size: 18px;
  margin: 7px;
}

.some {
  height: 35px;
  width: 35px;
  margin: 20px 0 0 25px;
}



@media (max-width: 1180px) {

  .item1 {
    padding-left: 0px;
  }

  .item2 {
    padding-left: 0px;
  }
  .item3 {
    padding-left: 0px;
    justify-self: center;
  }
  .item4 {
    padding-left: 0px;
  }



}